*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", serif;
  padding: 1rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.card {
  max-inline-size: 20.4375rem;
  border-radius: 0.75rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.2), 0 15px 40px rgba(166, 173, 201, 0.2);
}
@media (min-width: 64em) {
  .card {
    max-inline-size: 45.625rem;
    display: grid;
    grid-template-columns: 17.8125rem 27.8125rem;
  }
}

.card__image-container {
  height: 12.5rem;
}
@media (min-width: 64em) {
  .card__image-container {
    height: 17.5rem;
  }
}

.card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* TODO:Image is almost similar to the design, but needs to be moved down if wanna get the exact crop */
  border-radius: 0.75rem 0.75rem 0 0;
}
@media (min-width: 64em) {
  .card__image {
    border-radius: 0.75rem 0 0 0.75rem;
  }
}

.card__content {
  background-color: hsl(0, 0%, 100%);
  font-family: "Manrope", serif;
  color: hsl(217, 19%, 35%);
  border-radius: 0 0 0.75rem 0.75rem;
}
@media (min-width: 64em) {
  .card__content {
    border-radius: 0 0.75rem 0.75rem 0;
  }
}

.card__body {
  padding: 2.25rem 2rem 1.375rem;
  letter-spacing: 0.18px;
}
@media (min-width: 64em) {
  .card__body {
    padding: 2rem 2.5rem 0.5rem;
  }
}

.card__title {
  font-size: clamp(1rem, 0.912rem + 0.376vw, 1.25rem);
  margin-block-end: 0.875rem;
}
@media (min-width: 64em) {
  .card__title {
    line-height: 1.4;
  }
}

.card__description {
  font-size: 0.8125rem;
  font-weight: 500;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 2rem 1.25rem;
  position: relative;
}
@media (min-width: 64em) {
  .card__footer {
    padding: 0.875rem 2.5rem 1.25rem;
  }
}

.card__footer:has(> .card__share-btn[aria-expanded=true]) {
  padding: 0.75rem 2rem 0.75rem;
}
@media (min-width: 64em) {
  .card__footer:has(> .card__share-btn[aria-expanded=true]) {
    padding: 0.875rem 2.5rem 1.25rem;
  }
}

.card__footer-image {
  border-radius: 62.4375rem;
  height: 2.5rem;
  width: 2.5rem;
}

.card__author-byline {
  display: flex;
  gap: 1rem;
}

.card__details {
  font-size: 0.8125rem;
}

.card__author-name {
  font-weight: 700;
}

.card__publish-date {
  opacity: 60%;
}

.card__share-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 62.4375rem;
  cursor: pointer;
  z-index: 1;
}

.card__share-btn[aria-expanded=true] {
  background-color: hsl(214, 17%, 51%);
}
.card__share-btn[aria-expanded=true] svg path {
  fill: hsl(0, 0%, 100%);
}

.card__social {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8125rem;
  background-color: hsl(217, 19%, 35%);
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  padding-inline-start: 2rem;
  border-radius: 0 0 0.75rem 0.75rem;
}
@media (min-width: 64em) {
  .card__social {
    width: max-content;
    height: max-content;
    padding: 1.125rem 2.25rem;
    border-radius: 0.5rem;
    left: 60%;
    bottom: 115%;
    box-shadow: 2px 5px 10px rgba(154, 160, 185, 0.5);
  }
}

@media (min-width: 64em) {
  .card__social::after {
    content: "";
    position: absolute;
    border-right: 0.75rem solid transparent;
    border-left: 0.75rem solid transparent;
    border-top: 0.75rem solid hsl(217, 19%, 35%);
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.card__share-btn[aria-expanded=true] + .card__social {
  display: flex;
}

.card__social-text {
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: hsl(212, 23%, 69%);
}

.card__social-icon {
  cursor: pointer;
}

.card__social--hidden {
  display: none;
}